<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
    <table align="center" width="100%" style="border-spacing:0;font-family:Arial, Helvetica, sans-serif;color:#333333;">
        <tr>
            <td class="abrir-navegador" align="center"
                style="background-color:#f7f7f7;font-size:10px;color:#999999;padding-top:10px;padding-bottom:10px;padding-right:0;padding-left:0;">
                ¿No puedes verlo bien? Prueba a <a
                    href="http://p8tre.emv3.com/HM?b=URghfjVMSIXvB62eq2vBi1HBROYiaas-5vkVpoe51D9FR75vzoLqo1KJtwD-mmNL&c=uBUs_ESoPxGQLJ2_BlAkCQ"
                    target="_blank" style="color:#016ca2;text-decoration:none;">abrirlo en tu navegador »</a></td>
        </tr>
    </table>


    <div class="webkit" style="max-width: 600px;">
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
            <tr>
                <td width="600">
        <![endif]-->
        <table class="tabla-contenedora"
               style="border-spacing:0;font-family:Arial, Helvetica, sans-serif;color:#333333;margin:0 auto;width:100%;background-color:#ffffff;">
            <tr>
                <td class="padding-wrapper" style="padding:0 20px;max-width:560px;">
                    <table class="tabla-contenedora" align="center"
                           style="border-spacing:0;font-family:Arial, Helvetica, sans-serif;color:#333333;margin:0 auto;width:100%;background-color:#ffffff;">
                        <tr>
                            <td class="cab-fecha-siguenos" style="padding:0;border-bottom:3px solid #fbfbfb;">
                                <table class="" cellpadding="0" cellspacing="0" width="100%"
                                       style="border-spacing:0;font-family:Arial, Helvetica, sans-serif;color:#333333;border-bottom:1px solid #eaeaea;padding:4px 0;">
                                    <tbody>
                                    <tr>
                                        <td class="fecha"
                                            style="padding:10px 0;text-align:left;font-size:11px;text-transform:uppercase;color:#333333;font-family:Georgia, 'Times New Roman', Times, serif;line-height:114%;">
                                            <span class="fecha"
                                                  style="padding:10px 0;text-align:left;font-size:11px;text-transform:uppercase;color:#333333;font-family:Georgia, 'Times New Roman', Times, serif;line-height:114%;">Viernes,<br>9 de septiembre de 2016</span>
                                        </td>
                                        <td class="siguenos" align="right" style="padding: 0;">
                                            <a href="http://p8tre.emv3.com/DTS?url=https%3A%2F%2Fwww.facebook.com%2Fmamaspapas.elpais&emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ"
                                               title="De Mamas y de Papas en Facebook"
                                               style="color: #016ca2; text-decoration: none;">
                                                <img src="http://elpais.com/newsletters/newsletter_all/iconos/icono_fb_cuadrado_fff.png"
                                                     width="40" alt="Facebook" border="0" style="border: 0;"></a>
                                            <a href="http://p8tre.emv3.com/DTS?url=https%3A%2F%2Ftwitter.com%2Fdemamasdepapas%3Flang%3Des&emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ"
                                               title="De Mamas y de Papas en Twitter"
                                               style="color: #016ca2; text-decoration: none;">
                                                <img src="http://elpais.com/newsletters/newsletter_all/iconos/icono_tw_cuadrado_fff.png"
                                                     width="40" alt="Twitter" border="0" style="border: 0;"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="header" style="padding:20px 0 0;text-align:center;margin-bottom:20px;">
                                <a href="http://p8tre.emv3.com/DTS?url=http%3A%2F%2Felpais.com%2Fagr%2Fmamas_papas%2F%3Fid_externo_nwl%3Dnewsletter_mamasypapas&emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ"
                                   style="color:#016ca2;text-decoration:none;display:block;text-align:center;padding:0 0 20px;">
                                    <img width="240"
                                         src="http://elpais.com/newsletters/newsletter_all/iconos/cabecera_el-pais.png"
                                         alt="Mamas &amp; Papas en EL PAÍS"
                                         style="border:0;width:100%;max-width:240px;height:auto;"></a>
                                <table width="100%" height="20" class="sub-header"
                                       style="border-spacing:0;font-family:Arial, Helvetica, sans-serif;color:#333333;height:15px;">
                                    <tbody>
                                    <tr>
                                        <td width="180" style="padding:0;width:30%;">
                                            <img width="200" height="4"
                                                 src="http://elpais.com/newsletters/newsletter_all/iconos/lineas-fondo-cabecera.png"
                                                 alt="Mamas &amp; Papas en EL PAÍS"
                                                 style="border:0;width:100%;max-width:240px;height:4px;">
                                        </td>
                                        <td width="180" style="padding:0;width:30%;">
                                            <img width="200" height="4"
                                                 src="http://elpais.com/newsletters/newsletter_all/iconos/lineas-fondo-cabecera.png"
                                                 alt="Mamas &amp; Papas en EL PAÍS"
                                                 style="border:0;width:100%;max-width:240px;height:4px;">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="portadilla" style="padding: 0;">
                                <table width="100%"
                                       style="border-spacing: 0; font-family: Arial, Helvetica, sans-serif; color: #333333;">
                                    <tbody>
                                    <tr>
                                        <td style="padding: 0;">
                                        </td>
                                    </tr>



                                    <!-- STORY CARD tipo 1 -->
                                    <tr>
                                        <td class="destacada" style="padding:0;padding-bottom:20px;">
                                            <div class="media">
                                                <div class="foto figure" style="Margin: 20px 0 10px;">
                                                    <a href="http://p8tre.emv3.com/DTS?url=http%3A%2F%2Felpais.com%2Felpais%2F2016%2F09%2F08%2Fmamas_papas%2F1473313734_798308.html%23%3Fid_externo_nwl%3Dnewsletter_mamasypapas20160909m&emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ"
                                                       style="color: #016ca2; text-decoration: none;">
                                                        <img src="http://elpais.com/elpais/imagenes/2016/09/09/newsletter_mamasypapas/1473415913_793111_1473415983_portadilla_normal.jpg"
                                                             width="600"
                                                             alt="¿Qué rol juega el padre en el vínculo afectivo de su hija?"
                                                             style="border:0;width:100%;max-width:600px;height:auto;"></a>
                                                </div>
                                            </div>
                                            <div class="encabezado" style="Margin: 15px 0 10px;">
                                                <p class="antetitulo"
                                                   style="margin:0;line-height:150%;font-size:12px;margin-bottom:6px;display:block;color:#016ca2;font-family:Arial, Helvetica, sans-serif;font-weight:bold;text-transform:uppercase;">
                                                    <a style="color: #016ca2; text-decoration: none;">STORY CARD - tipo
                                                        1</a>
                                                </p>
                                                <p class="h1"
                                                   style="margin:0;line-height:120%;font-size:30px;margin-bottom:0;font-weight:bold;font-family:'Times New Roman', Times, Georgia, serif;letter-spacing:-1px;">
                                                    <a href="http://p8tre.emv3.com/DTS?url=http%3A%2F%2Felpais.com%2Felpais%2F2016%2F09%2F08%2Fmamas_papas%2F1473313734_798308.html%23%3Fid_externo_nwl%3Dnewsletter_mamasypapas20160909m&emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ"
                                                       style="color:#000000;text-decoration:none;">¿Qué rol juega el
                                                        padre en el vínculo afectivo de su hija?</a>
                                                </p>
                                            </div>
                                            <p class="entradilla"
                                               style="margin:0;line-height:150%;font-size:14px;margin-bottom:0;color:#333333;">
                                                Su figura es importante para los niños y tiene un componente especial en
                                                las niñas</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="separador" style="padding:0 0 5px;">
                                            <img src="http://elpais.com/newsletters/newsletter_all/iconos/separador.png"
                                                 width="30" style="border: 0;">
                                        </td>
                                    </tr>
                                    <!-- FIN STORY CARD tipo 1 -->

                                    <!-- STORY CARD tipo 2 -->
                                    <tr>
                                        <td class="destacada" style="padding:0;padding-bottom:20px;">
                                            <div class="media">
                                                <div class="foto figure" style="Margin: 20px 0 10px;">
                                                    <a href="http://p8tre.emv3.com/DTS?url=http%3A%2F%2Felpais.com%2Felpais%2F2016%2F09%2F01%2Fmamas_papas%2F1472708137_881758.html%23%3Fid_externo_nwl%3Dnewsletter_mamasypapas20160909m&emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ"
                                                       style="color: #016ca2; text-decoration: none;">
                                                        <img src="http://elpais.com/elpais/imagenes/2016/09/09/newsletter_mamasypapas/1473416017_901157_1473416060_portadilla_normal.jpg"
                                                             width="600"
                                                             alt="Ojo con sobrecargar a tu hijo con actividades extraescolares"
                                                             style="border:0;width:100%;max-width:600px;height:auto;"></a>
                                                </div>
                                            </div>
                                            <div class="encabezado" style="Margin: 15px 0 10px;">
                                                <p class="antetitulo"
                                                   style="margin:0;line-height:150%;font-size:12px;margin-bottom:6px;display:block;color:#016ca2;font-family:Arial, Helvetica, sans-serif;font-weight:bold;text-transform:uppercase;">
                                                    <a style="color: #016ca2; text-decoration: none;">STORY CARD - tipo
                                                        2</a>
                                                </p>
                                                <p class="h2" style="margin:0;line-height:120%;font-size:26px;margin-bottom:0;font-family:'Times New Roman', Times, Georgia, serif;">
                                                    <a href="http://p8tre.emv3.com/DTS?url=http%3A%2F%2Felpais.com%2Felpais%2F2016%2F09%2F01%2Fmamas_papas%2F1472708137_881758.html%23%3Fid_externo_nwl%3Dnewsletter_mamasypapas20160909m&amp;emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ" style="color:#000000;text-decoration:none;">Ojo con sobrecargar a tu hijo con actividades extraescolares</a>
                                                </p>
                                            </div>
                                            <p class="entradilla"
                                               style="margin:0;line-height:150%;font-size:14px;margin-bottom:0;color:#333333;">
                                                Su figura es importante para los niños y tiene un componente especial en
                                                las niñas</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="separador" style="padding:0 0 5px;">
                                            <img src="http://elpais.com/newsletters/newsletter_all/iconos/separador.png"
                                                 width="30" style="border: 0;">
                                        </td>
                                    </tr>
                                    <!-- FIN STORY CARD tipo 2 -->



                                    </tbody>
                                </table>
                            </td>
                        </tr>


                    </table>

                </td>
            </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>
</center>


