<!-- STORY CARD tipo 2 -->
<tr>
    <td class="destacada" style="padding:0;padding-bottom:20px;">
        <div class="media">
            <div class="foto figure" style="Margin: 20px 0 10px;">
                <a href="http://p8tre.emv3.com/DTS?url=http%3A%2F%2Felpais.com%2Felpais%2F2016%2F09%2F01%2Fmamas_papas%2F1472708137_881758.html%23%3Fid_externo_nwl%3Dnewsletter_mamasypapas20160909m&emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ"
                   style="color: #016ca2; text-decoration: none;">
                    <img src="http://elpais.com/elpais/imagenes/2016/09/09/newsletter_mamasypapas/1473416017_901157_1473416060_portadilla_normal.jpg"
                         width="600"
                         alt="Ojo con sobrecargar a tu hijo con actividades extraescolares"
                         style="border:0;width:100%;max-width:600px;height:auto;"></a>
            </div>
        </div>
        <div class="encabezado" style="Margin: 15px 0 10px;">
            <p class="antetitulo"
               style="margin:0;line-height:150%;font-size:12px;margin-bottom:6px;display:block;color:#016ca2;font-family:Arial, Helvetica, sans-serif;font-weight:bold;text-transform:uppercase;">
                <a style="color: #016ca2; text-decoration: none;">STORY CARD - tipo
                    2</a>
            </p>
            <p class="h2" style="margin:0;line-height:120%;font-size:26px;margin-bottom:0;font-family:'Times New Roman', Times, Georgia, serif;">
                <a href="http://p8tre.emv3.com/DTS?url=http%3A%2F%2Felpais.com%2Felpais%2F2016%2F09%2F01%2Fmamas_papas%2F1472708137_881758.html%23%3Fid_externo_nwl%3Dnewsletter_mamasypapas20160909m&amp;emv_key=HSxoQRrkPwehEURvu1fI6Xm8X69mnh0G9G9CSj_RMXI/uBUs_ESoPxGQLJ2_BlAkCQ" style="color:#000000;text-decoration:none;">Ojo con sobrecargar a tu hijo con actividades extraescolares</a>
            </p>
        </div>
        <p class="entradilla"
           style="margin:0;line-height:150%;font-size:14px;margin-bottom:0;color:#333333;">
            Su figura es importante para los niños y tiene un componente especial en
            las niñas</p>
    </td>
</tr>
<tr>
    <td class="separador" style="padding:0 0 5px;">
        <img src="http://elpais.com/newsletters/newsletter_all/iconos/separador.png"
             width="30" style="border: 0;">
    </td>
</tr>
<!-- FIN STORY CARD tipo 2 -->